#app {
  .sidebar-wrap {
    z-index: 1001;
    width: $sideWidth !important;
    height: 100%;
    // padding-top: $navbarHeight;
    overflow: hidden;
    background-color: var(--sidebar-dark-bg-color);
    transition: width 0.28s;

    .sidebar-logo {
      width: 100%;
      height: $navbarHeight;
      justify-content: space-evenly;

      span {
        font-size: 22px;
        color: var(--sidebar-active-text-color);
        @include text-overflow;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    // .sub-el-icon {
    //   margin-right: 12px;
    //   margin-left: -2px;
    // }

    .el-menu {
      width: 100% !important;
      height: 100%;
      background-color: var(--sidebar-dark-bg-color);
      border: none;
    }

    .side-item {
      .el-sub-menu__title {
        color: var(--sidebar-dark-text-color);
        background-color: var(--sidebar-dark-bg-color);
      }

      .el-menu-item {
        color: var(--sidebar-dark-text-color);
        background-color: var(--sidebar-dark-bg-color);

        &:hover {
          background-color: var(--sidebar-hover-bg-color);
        }
      }

      .el-menu-item.is-active {
        color: var(--sidebar-active-text-color);
        background-color: var(--sidebar-active-bg-color);
      }
    }
  }

  .hideMenu {
    .sidebar-wrap {
      width: 62px !important;
      transition: width 0.28s;

      .el-sub-menu__title {
        span,
        .el-sub-menu__icon-arrow {
          display: none;
        }
      }
    }
  }

  //   .el-submenu {
  //     overflow: hidden;
  //     & > .el-submenu__title {
  //       padding: 0 !important;

  //       .svg-icon {
  //         margin-left: 20px;
  //       }

  //       .sub-el-icon {
  //         margin-left: 19px;
  //       }

  //       .el-submenu__icon-arrow {
  //         display: none;
  //       }
  //     }
  //   }

  //   .el-menu--collapse {
  //     .el-submenu {
  //       & > .el-submenu__title {
  //         & > span {
  //           display: inline-block;
  //           width: 0;
  //           height: 0;
  //           overflow: hidden;
  //           visibility: hidden;
  //         }
  //       }
  //     }
  //   }

  // mobile responsive
  .mobile {
    .sidebar-wrap {
      display: none !important;
    }
  }
}

.el-popper.is-light {
  border: none;
}

.custom-popper-class {
  .el-menu--popup {
    color: var(--sidebar-dark-text-color);
    background-color: var(--sidebar-dark-bg-color);

    .el-menu-item {
      color: var(--sidebar-dark-text-color);
      background-color: var(--sidebar-dark-bg-color);

      &:hover {
        background-color: var(--sidebar-hover-bg-color);
      }
    }

    .el-menu-item.is-active {
      color: var(--sidebar-active-text-color);
      background-color: var(--sidebar-active-bg-color);
    }
  }
}
