#app {
  .sidebar-wrap {
    z-index: 1001;
    width: $sideWidth !important;
    height: 100%;
    // padding-top: $navbarHeight;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--sidebar-dark-bg);
    transition: width 0.28s;
    @include scrollbar;

    .sidebar-logo {
      width: 100%;
      height: $navbarHeight;
      justify-content: space-evenly;

      .sidebar-top-title {
        font-size: 24px;
        color: var(--sidebar-dark-color);
        @include text-overflow;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    .side-item {
      .side-menu-notice {
        padding: 0 5px;
        margin-left: 5px;
        color: var(--sidebar-notice-color);
        background-color: var(--sidebar-notice-bg);
        border-radius: 10px;
      }
    }
  }

  .light-theme {
    background-color: var(--sidebar-light-bg);

    .sidebar-top-title {
      color: var(--sidebar-light-color);
    }
  }

  // 折叠菜单
  .hideMenu {
    .sidebar-wrap {
      width: $sideCollapsedWidth !important;
      transition: width 0.28s;

      .ant-menu.ant-menu-inline-collapsed {
        width: $sideCollapsedWidth !important;
      }

      .side-item {
        .ant-menu-item {
          padding: 0;
          text-align: center;
          text-overflow: clip;
        }

        .ant-menu-submenu.ant-menu-submenu-vertical {
          .ant-menu-submenu-title {
            padding: 0;
            text-align: center;
            text-overflow: clip;
          }
        }

        li {
          .ant-menu-title-content,
          .ant-menu-submenu-arrow {
            display: none;
          }
        }
      }
    }
  }

  // mobile responsive
  .mobile {
    .sidebar-wrap {
      display: none !important;
    }
  }
}
