#app {
  .sidebar-wrap {
    z-index: 1001;
    width: $sideWidth !important;
    height: 100%;
    // padding-top: $navbarHeight;
    overflow: hidden;
    background-color: var(--sidebar-dark-bg-color);
    transition: width 0.28s;

    .sidebar-logo {
      width: 100%;
      height: $navbarHeight;
      justify-content: space-evenly;

      span {
        font-size: 22px;
        color: var(--sidebar-active-text-color);
        @include text-overflow;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    // .sub-el-icon {
    //   margin-right: 12px;
    //   margin-left: -2px;
    // }

    .el-menu {
      width: 100% !important;
      height: 100%;
      background-color: var(--sidebar-dark-bg-color);
      border: none;
    }

    .side-item {
      ul.el-menu.el-menu--inline {
        background-color: var(--sidebar-children-bg);
      }

      .el-sub-menu__title {
        color: var(--sidebar-dark-text-color);
        // background-color: var(--sidebar-dark-bg-color);
        &:hover {
          color: var(--sidebar-hover-text);
          background-color: transparent;
        }
      }

      .el-menu-item {
        color: var(--sidebar-dark-text-color);
        // background-color: var(--sidebar-dark-bg-color);

        &:hover {
          color: var(--sidebar-hover-text);
          background-color: transparent;
        }
      }

      .el-menu-item.is-active {
        color: var(--sidebar-active-text-color);
        background-color: var(--sidebar-active-bg-color);
      }

      .side-menu-notice {
        padding: 1px 5px;
        margin-left: 5px;
        color: var(--sidebar-hover-text);
        background-color: var(--sidebar-notice-color);
        border-radius: 10px;
      }
    }
  }

  .hideMenu {
    .sidebar-wrap {
      width: 62px !important;
      transition: width 0.28s;

      .el-sub-menu__title {
        span,
        .el-sub-menu__icon-arrow {
          display: none;
        }
      }
    }
  }

  // mobile responsive
  .mobile {
    .sidebar-wrap {
      display: none !important;
    }
  }
}

.el-popper.is-light {
  border: none;
}

.custom-popper-class {
  .el-menu--popup {
    color: var(--sidebar-dark-text-color);
    background-color: var(--sidebar-children-bg);

    .el-menu-item {
      color: var(--sidebar-dark-text-color);
      //   background-color: var(--sidebar-dark-bg-color);

      &:hover {
        color: var(--sidebar-hover-text);
        // background-color: var(--sidebar-hover-bg-color);
        background-color: transparent;
      }
    }

    .el-menu-item.is-active {
      color: var(--sidebar-active-text-color);
      background-color: var(--sidebar-active-bg-color);
    }

    .el-sub-menu__title {
      color: var(--sidebar-dark-text-color);
      // background-color: var(--sidebar-dark-bg-color);
      &:hover {
        color: var(--sidebar-hover-text);
        background-color: transparent;
      }
    }
  }
}
