/* 变量 */
$color: "#fff";
$sideWidth: 240px; // 侧边栏宽度
$scrollbarWidth: 5px; // 滚动条宽度
$min-theme: #409eff;
$navbarHeight: 45px; //头部高度
$customFontSize: 14px; // 主题字体大小
$subFontSize: 12px; // 副标题字体大小
:root {
  --sidebar-dark-bg-color: #0c2135; // 侧边栏背景颜色
  --sidebar-dark-text-color: rgba(255, 255, 255, 0.7); // 侧边栏字体颜色
  --sidebar-active-bg-color: #143757; //侧边栏选中背景色
  --sidebar-active-text-color: #fff; // 侧边栏选中字体颜色
  --sidebar-hover-bg-color: #143757; //侧边栏鼠标悬浮背景色
}
