.min-gapless-wrap {
  position: relative;
  overflow: hidden;

  .scroll-empty {
    height: 100%;
    font-size: 14px;
  }

  .left-controls {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .right-controls {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .gapless-scroll-content {
    display: flex;
    height: 100%;
  }
}
